.input-boxes {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 5rem;
    background-color: beige;
}

.notes-input {
    /* research how to get items to stack */
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.notes-input #input {
    border-radius: 5px;
}

.notes-input #submit {
    border-radius: 8px;
    margin-left: 1rem;
}

.customization-input {
    display: flex;
}

.customization-input #color {
    height: 50px;
    border-radius: 15px;
    border-color: navajowhite;
    background-color: lightyellow;
}

.customization-input #vol-slider {
    margin-left: 2rem;
}

#canvas {
    border: 5px solid black;
    height: 500px;
    width: 95%;
    margin-bottom: 2em;
    align-items: center;
}